body{
    background: #98dbc6;
    font-family: Comic Sans Ms;
}

#container{
    width: 80%;
    margin: 0px auto;
}

header{
    border: 5px solid #5bc8ac;
    text-align: center;
    background-color: #f18d9e;
    height: 60px;
    width: 100%;
    line-height: 10px;
    border-radius: 20px;
}

nav{
    height: 50px;
}

#content{
    height: 700px;
    width: 80%;
    background: #98dbc6;;
    float: right;
}

li{
    align-items: center;
}

.article{
    border: 5px solid #5bc8ac;
    height: 200px;
    text-align: left;
    background: #f18d9e;
    border-radius: 20px;
}

aside{
    font-size: 16px;
    border: 7px dashed black;
    text-align: left;
    height: 400px;
    width: 18%;
    background: #e6d72a;
    float: left;
}

footer{
    text-align: center;
    background-color: #5bc8ac;
    height: 100px;
    line-height: 30px;
}

.clearfix{
    clear:both;
}